.checked {
    color: #FFC570;
  }
.header-style{
    width: 250px
}
.btn-style{
    width: 140px;
}
.back{
   max-width: fit-content;
}
.new{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:767px){
    .back{
        width: fit-content;
     }
     .card-body{
        width: fit-content;
     }
     .new{
       
        flex-direction: column-reverse;
       
    }
    /* .box-img{
        width: 20px;
    } */
    /* 767px */
}